.iledJH {
    margin-bottom: 1px;
  }
  
  .field {
    background: rgba(126,126,126,0.1);
    display: flex;
    flex-wrap: wrap;
    color: #525252;
    position: relative;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    border: 2px solid rgba(126,126,126,0.1);
    border-radius: 4px;
    background-clip: padding-box;
    width: 100%;
    font-size: 2.102349244351339rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 100%;
    padding: 0;
  }
  .ivhuoK {
    height: 64px;
    min-width: 280px;
    position: relative;
    background-color: rgba(186, 186, 186, 0.1);
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .ivhuoK:hover {
    background-color: rgba(186, 186, 186, 0.2);
  }
  .field:hover {
    background-color: rgba(126,126,126,0.15);
    border: 2px solid rgba(126,126,126,0.15);
  }
  
  .ivhuoK:focus-within {
    background-color: transparent;
    border-color: rgb(31, 31, 31);
  }
  
  .ivhuoK:focus-within span {
    transform: translateY(0px);
  }
  
  .ivhuoK:focus-within label {
    transform: scale(0.75);
  }
  
  .field {
    flex-wrap: nowrap;
    margin-bottom: initial;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .lktHly input {
    background: transparent;
    border: none;
    padding: 31px 8px 15px;
    box-sizing: border-box;
    height: 60px;
    display: block;
    outline: none;
    width: 472px;
    color: rgb(31, 31, 31);
    line-height: 18px;
    font-size: 18px;
    font-weight: 700;
    font-family: "FF Mark W05", sans-serif;
  }
  
  .lktHly label {
    color: rgb(102, 102, 102);
    font-family: "FF Mark W05", sans-serif;
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.06em;
    font-size: 12.64px;
    left: 16px;
    top: 22px;
    opacity: 1;
    height: 17.33px;
    pointer-events: none;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity;
  }
  
  .lktHly span {
    color: rgb(102, 102, 102);
    font-family: "FF Mark W05", sans-serif;
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 100%;
    font-size: 11.24px;
    left: 8px;
    top: 7.33px;
    opacity: 0;
    pointer-events: none;
    transform-origin: left top;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transform: translateY(-50%);
  }
  .hZyTAS input {
    background: transparent;
    border: none;
    padding: 31px 8px 15px;
    box-sizing: border-box;
    height: 60px;
    display: block;
    outline: none;
    width: 472px;
    color: rgb(31, 31, 31);
    line-height: 18px;
    font-size: 18px;
    font-weight: 700;
    font-family: "FF Mark W05", sans-serif;
  }
  
  .hZyTAS label {
    color: rgb(102, 102, 102);
    font-family: "FF Mark W05", sans-serif;
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.06em;
    font-size: 12.64px;
    left: 16px;
    top: 22px;
    opacity: 0;
    height: 17.33px;
    pointer-events: none;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity;
  }
  
  .hZyTAS span {
    color: rgb(102, 102, 102);
    font-family: "FF Mark W05", sans-serif;
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 100%;
    font-size: 11.24px;
    left: 8px;
    top: 7.33px;
    opacity: 1;
    pointer-events: none;
    transform-origin: left top;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transform: translateY(-50%);
  }
  
  .jRMYDv input {
    background: transparent;
    border: none;
    padding: 31px 8px 15px;
    box-sizing: border-box;
    height: 60px;
    display: block;
    outline: none;
    width: 472px;
    color: rgb(31, 31, 31);
    line-height: 18px;
    font-size: 18px;
    font-weight: 700;
    font-family: "FF Mark W05", sans-serif;
  }
  
  .jRMYDv label {
    color: rgb(102, 102, 102);
    font-family: "FF Mark W05", sans-serif;
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.06em;
    font-size: 12.64px;
    left: 16px;
    top: 22px;
    opacity: 0;
    height: 17.33px;
    pointer-events: none;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity;
  }
  
  .jRMYDv span {
    color: rgb(102, 102, 102);
    font-family: "FF Mark W05", sans-serif;
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 100%;
    font-size: 11.24px;
    left: 8px;
    top: 7.33px;
    opacity: 1;
    pointer-events: none;
    transform-origin: left top;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transform: translateY(0px);
  }