.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

.custom-shape-divider-bottom-1703861384 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1703861384 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 136px;
}

.custom-shape-divider-bottom-1703861384 .shape-fill {
  fill: #863297;
}
.custom-shape-divider-top-1703862111 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1703862111 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 136px;
}

.custom-shape-divider-top-1703862111 .shape-fill {
  fill: #863297;
}
